* {box-sizing:border-box;}
body, div {margin:0; padding: 0;}
html, body {height:100%;}
body {background:grey;}

.wrap {position: relative; min-height: 100%;}

.header {
  position:fixed;top:0;z-index:99;padding:0 4px;background:lightblue;
  width:100%;height:44px;
/*   top:env(safe-area-inset-top);top:constant(safe-area-inset-top); */
}
.content {padding-top:44px;height:100%;background:#fff;}
.tab {position:sticky;top:44px;height:80px;line-height:80px;z-index:98;background:yellow;}

.floatingBtn {position:fixed;bottom:0;z-index:1000;padding-bottom:calc(env(safe-area-inset-bottom) + 20px);
padding-bottom:calc(constant(safe-area-inset-bottom) + 15px);width:100%;background:lightsalmon;}  
